@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
#header {
	background: #e3da9d;
	padding: 15px 0 15px 15px;
}
body {
	font-size: 62.5%;
	font-family:Verdana, Geneva, sans-serif;
	background:url(images/sidebar-background.png) repeat-y left #fdc689;
}
h1 { font-size: 4.0em; }
p, li {font-size: 1.8em; }
.cleae {clear: both; }
#content {
	padding: 15px 30px 0 0;
}
#main-content {
	margin-left: 250px;

}
#sidebar {
	width: 145 px;
	float: left;
	padding: 0 0 0 15px;
}
#sidebar ul {
	list-style: inside;
}

